<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8bcfcb">  <td>20/10/04 21:00:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataDrivenTest.loginTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testNGdata.DataDrivenTest@1794d431]">loginTest</td> 
  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>20/10/04 21:00:18</td>   <td>13310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataDrivenTest.loginTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testNGdata.DataDrivenTest@1794d431]">loginTest</td> 
  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>20/10/04 21:00:32</td>   <td>27283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataDrivenTest.loginTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testNGdata.DataDrivenTest@1794d431]">loginTest</td> 
  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>20/10/04 21:00:41</td>   <td>36476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataDrivenTest.loginTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testNGdata.DataDrivenTest@1794d431]">loginTest</td> 
  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>20/10/04 20:59:50</td>   <td>-14735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DataDrivenTest.setup()[pri:0, instance:testNGdata.DataDrivenTest@1794d431]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>20/10/04 21:00:07</td>   <td>2030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DataDrivenTest.setup()[pri:0, instance:testNGdata.DataDrivenTest@1794d431]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>20/10/04 21:00:20</td>   <td>15332</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DataDrivenTest.setup()[pri:0, instance:testNGdata.DataDrivenTest@1794d431]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>20/10/04 21:00:34</td>   <td>29290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DataDrivenTest.setup()[pri:0, instance:testNGdata.DataDrivenTest@1794d431]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@174573182</td>   <td></td> </tr>
</table>
